<!doctype html>
<html>
    <head>
        <title>Resurrect | Interview with {{request.form["interviewee"]}}</title>
        <style>
            body {
                font-family: serif;
                background-color: white;
            }

            #transcript {
                white-space: pre-wrap;
                margin: 32px;
            }
        </style>
    </head>
    <body>
        <h1><a href="{{url_for("select")}}">Resurrect</a></h1>
        <hr>
        <div id="transcript">{{ content }}</div>
        <div id="control">
            <form action="{{url_for("index")}}" method="POST">
                <input type="hidden" name="interviewee" value="{{request.form["interviewee"]}}">
                <input type="text" name="message" autocomplete="off">
                <input type="submit">
                <button type="submit" name="summarize">Summarize</button>
            </form>
        </div>
    </body>
</html>