<!DOCTYPE html>
<html>
    <head>
        <title>Resurrect | Select an interviewee</title>
        <style>
            body {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Resurrect</h1>
        <p style="font-style: italic;">Interview historical figures</p>
        <hr>
        <form action="{{url_for("index")}}" method="POST">
            <div>
                <label>Interviewee:</label>
                <select name="interviewee">
                    <option value="Albert Einstein">Albert Einstein, 1879 - 1955</option>
                    <option value="Bernhard Riemann">Bernhard Riemann, 1826 - 1866</option>
                    <option value="Isaac Newton">Sir Isaac Newton, 1643 - 1727</option>
                </select>
            </div>
            <div><button type="submit">Begin the interview</button></div>
        </form>
    </body>
</html>