<!DOCTYPE html>
<html>
    <head>
        <title>Resurrect | Select an interviewee</title>
        <style>
            body {
                font-family: serif;
            }
        </style>
    </head>
    <body>
        <h1>Resurrect</h1>
        <p style="font-style: italic;">Interview historical figures</p>
        <hr>
        <form action="{{url_for("index")}}" method="POST">
            <div>
                <label>Interviewee:</label>
                <select name="interviewee">
                    <option value="Galileo Galilei">Galileo di Vincenzo Bonaiuti de' Galilei, 1564 - 1642</option>
                    <option value="Rene Descartes">René Descartes, 1596 - 1650</option>
                    <option value="Isaac Newton">Sir Isaac Newton, 1643 - 1727</option>
                    <option value="Leonhard Euler">Leonhard Euler, 1707 - 1783</option>
                    <option value="Carl Gauss">Johann Carl Friedrich Gauss, 1777 - 1855</option>
                    <option value="Bernhard Riemann">Bernhard Riemann, 1826 - 1866</option>
                    <option value="Nikola Tesla">Nikola Tesla, 1856 - 1943</option>
                    <option value="Albert Einstein">Albert Einstein, 1879 - 1955</option>
                    <option value="Richard Feynman">Richard Phillips Feynman, 1918 - 1988</option>
                    <option value="Stephen Hawking">Stephen William Hawking, 1942 - 2018</option>
                </select>
            </div>
            <br>
            <div><button type="submit">Begin the interview</button></div>
        </form>
    </body>
</html>